.background {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 20em 40px 20em;
  padding: 40px 0em 0em 0em;
  border-top: 1px solid #eeeeee;
}

.h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #e71a95;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.button {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  background-color: #e71a95;
  width: 440px;
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
}

.button:hover {
  background-color: #b71a95;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1900px) {
  .background {
    margin: 40px 12em 40px 12em;
  }

  .button {
    width: 20%;
  }
}

@media screen and (max-width: 1600px) {
  .background {
    margin: 1em 6em 1em 6em;
  }

  .button {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .background {
    margin: 1em 3em 1em 3em;
  }

  .button {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .background {
    margin: 1em 2em 1em 1em;
  }

  .button {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }

  .phone {
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
  }
}
