.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
}

.h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 150%;
  color: #ffcc14;
}

.h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: white;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 40%;
    align-items: center;
    justify-content: left;
    padding: 1em 0 1em 0;
  }

  .image {
    width: 40%;
  }

  .imageContainer {
    min-width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 40%;
    align-items: center;
    justify-content: left;
    padding: 1em 0 1em 0;
  }

  .image {
    width: 40%;
  }

  .imageContainer {
    min-width: 30%;
  }

  .h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
  }

  .h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}
