.background {
  display: flex;
  flex-direction: column;
  margin: 60px 20em 1em 20em;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.centerBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}

.social {
  display: flex;
  flex-direction: row;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 30%;
}

.h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  margin: 0 0 40px 0;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 480px;
}

.submitButton {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  height: 3em;
  width: 3em;
  background-image: url(../../images/mailing/arrow.svg);
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 50%;
  border: none;
  border-radius: 12px;
}

.inputContainer {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.input {
  height: 4em;
  line-height: 4em;
  border: 0.5px #eeeeee solid;
  border-radius: 10px;
  padding: 0 0 0 1em;
  outline: none;
}

.error {
  color: #ff0000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

@media screen and (max-width: 1600px) {
  .background {
    margin: 3em 12em 1em 12em;
  }
}

@media screen and (max-width: 1400px) {
  .background {
    margin: 3em 6em 1em 6em;
  }
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .background {
    margin: 3em 6em 1em 6em;
  }
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .background {
    margin: 1em 2em 1em 1em;
  }

  .form {
    width: 100%;
  }
  .h1 {
    font-weight: 700;
    font-size: 20px;
  }

  .h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 150%;
  }

  .h3 {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
  }
}
