.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10em 6em 10em 10em;
}

.itemsContainer {
  display: flex;
  position: relative;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentContainer {
  width: 40%;
  margin: 0em 6em 0em 6em;
}

.h1 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: black;
  padding: 0 0 30px 24px;
}

.buttonContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  background-color: #e71a95;
  width: 80%;
  color: white;
  margin: 0px 0px 0px 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
}

.button:hover {
  background-color: #b71a95;
}

@media screen and (max-width: 1900px) {
  .contentContainer {
    width: 100%;
    margin: 0em 2em 0em 2em;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    margin: 10em 1em 10em 2em;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 6em 1em 6em 1em;
    flex-direction: column;
    align-items: center;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin: 2em 0em 2em 0em;
    flex-direction: column;
  }
  .rackImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rackImage {
    width: 80%;
  }

  .button {
    width: 90%;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .itemsContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    padding: 20px 0 0 0;
  }

  .h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 150%;
  }

  .h3 {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
  }
}
