.background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(180deg, #006d85 0%, #40c0dc 100%), #111111;
  display: flex;
  gap: 20px;

  padding: 80px 26em 80px 28.2em;
  border-radius: 30px 30px 0px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.input {
  padding: 1em 1em 1em 1em;
  margin: 0em 0em 1em 0em;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  outline: none;
}
.phoneInput {
  padding: 1em 1em 1em 2em;
  background-image: url(../../images/flag.png);
  background-repeat: no-repeat;
  background-position: 16px;
}

.h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: #ffffff;
  margin: 0 0 40px 0;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  width: 480px;
  display: flex;
  flex-direction: column;
}

.submitButton {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: #e71a95;
  color: white;
  margin: 16px 0px 16px 0px;
  padding: 16px 16px 16px 16px;
  border-radius: 10px;
  border: none;
}
.submitButtonBlock {
  opacity: 30%;
}

.error {
  color: #ff0000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

@media screen and (max-width: 1900px) {
  .background {
    padding: 6em 18em 4em 18em;
    flex-direction: column;
    justify-content: flex-start;
  }
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 1600px) {
  .background {
    padding: 6em 12em 4em 12em;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1400px) {
  .background {
    padding: 6em 6em 2em 6em;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  .background {
    padding: 4em 3em 2em 3em;
    flex-direction: column;
    justify-content: flex-start;
  }
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .background {
    padding: 2em 1em 2em 1em;
    flex-direction: column;
    justify-content: flex-start;
  }

  .form {
    width: 100%;
  }

  .input {
    padding: 0.6em 1em 0.6em 1em;
    margin: 0em 0em 0.6em 0em;
  }

  .phoneInput {
    padding: 0.6em 1em 0.6em 2em;
    background-position: 16px;
  }

  .h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
  }

  .h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .h3 {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
  }
}
