.background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(180deg, #006d85 0%, #40c0dc 100%);
  display: flex;
  gap: 20px;
  padding: 113.5px 20em 113.5px 20em;
  position: relative;
  border-radius: 30px 30px 0px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.itemContainer {
  padding: 54px 0px 0px 0px;
}

.h1 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 150%;
  color: white;
  padding-top: 0;
}

.h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: white;
}

.h3 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.immage {
  position: absolute;
  bottom: 0px;
  right: 450px;
}

.button {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  background-color: #e71a95;
  width: 48%;
  color: white;
  margin: 96px 0px 16px 0px;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  border: none;
  transition: 0.3s linear;
}

.button:hover {
  background-color: #b71a95;
}

.triangle {
  display: none;
}

@media screen and (max-width: 1600px) {
  .background {
    padding: 1em 12em 1em 12em;
  }
}

@media screen and (max-width: 1300px) {
  .background {
    padding: 1em 6em 1em 6em;
  }

  .immage {
    right: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .background {
    padding: 1em 3em 1em 3em;
    height: 720px;
  }

  .h1 {
    font-weight: 600;
    font-size: 48px;
  }

  .h2 {
    font-weight: 600;
    font-size: 32px;
    z-index: 3;
  }

  .button {
    margin-top: auto;
  }
}

@media screen and (max-width: 1100px) {
  .background {
    padding: 1em 2em 1em 2em;
  }

  .h1 {
    font-weight: 600;
    font-size: 48px;
  }

  .h2 {
    font-weight: 600;
    font-size: 28px;
    z-index: 3;
  }
}

@media screen and (max-width: 700px) {
  .background {
    padding: 40px 20px 40px 20px;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .itemContainer {
    padding: 0px 0px 0px 0px;
  }

  .h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  .h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: auto;
    z-index: 3;
    display: none;
  }

  .triangle {
    margin-top: auto;
    display: block;
    z-index: 3;
  }

  .button {
    z-index: 3;
    width: 90%;
    margin: 0px 0px 0px 0px;
    font-size: 16px;
  }

  .immage {
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 450px) {
  .immage {
    width: 93%;
  }

  .triangle {
    margin-top: auto;
    display: block;
    z-index: 3;
    width: 74.35%;
  }
}

@media screen and (max-width: 375px) {
  .background {
    height: 600px;
  }
}

@media screen and (max-width: 300px) {
  .background {
    padding: 1em 2em 1em 1em;
    height: 600px;
  }
}
