.title {
  display: flex;
  justify-content: center;
  padding: 40px 0em 0em 0em;
}

.navbar {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 1em 20em 0em 20em;
  margin: 1em 0em 40px 0em;
  align-items: center;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
}

.navbarItem a {
  text-decoration: none;
  color: black;
}

.navbarItem a:hover {
  color: #e71a95;
}

.navbarSelectedItem {
  background-color: #e71a95;
  padding: 12px 12px 12px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.navbarSelectedItem:hover {
  background-color: #b71a95;
}

.navbarSelectedItem a {
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.searchBlokContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 100%;
  transition: 0.3s all;
}

.searchBlokContainerHidden {
  opacity: 0%;
  margin-bottom: -84px;
  pointer-events: none;
  z-index: -10;
}

.searchBlok {
  width: 100%;
  margin: -20px 24em 40px 24em;
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #808080;
  outline: none;
  background-image: url(../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: right 1em top 50%;
}

.mobile {
  display: none;
}

.mobileMenu {
  position: absolute;
  z-index: 10;
  background: white;
  width: 80%;
  height: 100%;
}

.mobileMenuHidden {
  display: none;
}

@media screen and (max-width: 1900px) {
  .navbar {
    padding: 1em 12em 0em 12em;
  }

  .searchBlok {
    margin: -20px 14em 40px 14em;
  }
}

@media screen and (max-width: 1600px) {
  .navbar {
    padding: 1em 6em 0em 6em;
  }

  .searchBlok {
    margin: -20px 7em 40px 7em;
  }
}

@media screen and (max-width: 1400px) {
  .navbar {
    padding: 1em 2em 0em 2em;
    width: 95%;
    justify-content: space-between;
    font-size: 14px;
  }

  .searchBlok {
    margin: -20px 3em 40px 3em;
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    padding: 0px 0px 0em 0px;
    margin: 20px 20px 20px 20px;
    width: 100%;
    justify-content: space-between;
  }
  .searchBlokContainerHidden {
    opacity: 0%;
    margin-bottom: -60px;
    pointer-events: none;
    z-index: -10;
  }

  .desktop {
    display: none;
  }

  .modileNavbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarItem {
    margin: 1em 0 1em 0;
  }

  .searchBlok {
    margin: 0em 1em 1em 1em;
  }

  .mobile {
    display: flex;
  }
}
