.background {
  background: linear-gradient(180deg, #381980 0%, #8763e9 100%),
    linear-gradient(180deg, #7f00ff 0%, #e100ff 128.28%);
  padding: 141.5px 18em 141.5px 18em;
  border-radius: 30px 30px 0px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemContainer {
  padding: 54px 0px 0px 0px;
}

.h1 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 48px;
  line-height: 150%;
  font-weight: 600;
  color: white;
  padding-bottom: 80px;
}

.button {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  background-color: white;
  width: 30%;
  color: black;
  margin: 80px 0px 0px 0px;
  padding: 20px 40px 20px 40px;
  border-radius: 6px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
}

.button:hover {
  background-color: #e71a95;
  color: white;
}

.benefitsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .background {
    padding: 141.5px 12em 141.5px 12em;
  }
}

@media screen and (max-width: 1300px) {
  .background {
    gap: 20px;
    padding: 4em 1em 4em 1em;
    flex-direction: column;
    justify-content: flex-start;
  }

  .benefitsContainer {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .button {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .background {
    gap: 20px;
    padding: 4em 1em 4em 1em;
    flex-direction: column;
    justify-content: flex-start;
  }

  .benefitsContainer {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .button {
    width: 80%;
    font-size: 16px;
  }

  .button {
    text-align: center;
    background-color: white;
    margin: 38px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
  }

  .h1 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 32px;
  }

  .h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 150%;
  }

  .h3 {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
  }
}
