.accordionItem {
  border-bottom: 1px solid #d0d0d0;
  margin: 30px 0 30px 0;
  transition: 0.3s all;
}

.accordionTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  padding: 0 0 20px 0;
}

.accordionContent {
  padding: 0 0 20px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 100%;
  transition: 0.3s all;
}

.accordionContentHidden {
  opacity: 0%;
  margin-top: -44px;
  pointer-events: none;
}

.crossContainer {
  padding: 0 0 0 20px;
}
.crossRotate {
  transform: rotate(45deg);
  fill: #e71a95;
  transition: 0.3s linear;
}

.cross {
  transition: 0.3s linear;
}

@media screen and (max-width: 700px) {
  .accordionTitle {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
