.background {
  padding: 80px 20em 80px 20em;
}

.container {
  width: 50%;
}

.itemContainer {
  padding: 54px 0px 0px 0px;
}

.title {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  padding: 0px 0px 40px 0px;
  text-align: center;
}

.h1 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 96px;
  font-weight: 600;
  line-height: 100px;
  color: white;
}

.h3 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.button:hover {
  background-color: #b71a95;
}

@media screen and (max-width: 1440px) {
  .background {
    padding: 6em 12em 1em 12em;
  }
}

@media screen and (max-width: 1100px) {
  .background {
    padding: 4em 6em 1em 6em;
  }
}

@media screen and (max-width: 900px) {
  .background {
    padding: 2em 2em 1em 2em;
  }

  .title {
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    padding: 0px 0px 32px 0px;
  }
}

@media screen and (max-width: 700px) {
  .background {
    padding: 40px 1em 1em 1em;
  }

  .accordion {
    width: 90%;
  }

  .title {
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    padding: 0px 0px 32px 0px;
  }
}
