.background {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 20em 60px 20em;
  padding: 40px 0em 0em 0em;
  border-top: 1px solid #eeeeee;
}

.title {
  display: flex;
  justify-content: center;
}

.icon {
  width: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.centerBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 0 0 0;
  gap: 20px;
}

.socialBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 35%;
  gap: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 35%;
  gap: 11px;
}

.h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.leftBlock div:hover {
  color: #e71a95;
}

@media screen and (max-width: 1900px) {
  .background {
    margin: 1em 12em 60px 12em;
  }
}

@media screen and (max-width: 1600px) {
  .background {
    margin: 1em 6em 1em 6em;
  }
}

@media screen and (max-width: 1000px) {
  .background {
    margin: 1em 3em 1em 3em;
  }
}

@media screen and (max-width: 700px) {
  .background {
    margin: 40px 20px 20px 20px;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    width: 100%;
  }

  .content {
    flex-direction: column;
    justify-content: space-between;
  }

  .centerBlock {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .rightBlock {
    margin: 0 0 40px 0;
  }

  .social {
    display: flex;
    flex-direction: column;
    margin: 20px 0 40px 0;
    gap: 30px;
  }

  .icon {
    width: 40px;
  }

  .socialBlock {
    gap: 40px;
  }

  .leftBlock {
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0 0 40px 0;
  }

  .rightBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
