.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 6px 20px 6px 20px;
}

.numberContainer {
  display: block;
  width: 60px;
}

.numberContainerMobile {
  display: none;
}

@media screen and (max-width: 1900px) {
  .h1 {
    padding: 6px 10px 6px 10px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 1em;
    padding: 0px;
  }

  .numberContainer {
    width: 60px;
    display: none;
  }

  .numberContainerMobile {
    width: 60px;
    display: block;
  }

  .h1 {
    padding: 6px 10px 6px 20px;
  }
}
